version: "3.9"

services:
  web:
    image: jitendra128/flask-blog:latest
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./instance:/app/instance
    restart: unless-stopped
